*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

.md{
    width: 100%;
    height: 450px;
    /* background: yellow; */
}

.md , h1{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 10px 20px;
}



.md .text, .img{
 /* font-size: 35px; */
    width: 50%;
    height: 400px;
    /* background: red; */
    float: left;
    border: 2px solid #ddd;


}

.text, p{
    font-size: 30px;
    padding: 20px;
    text-align: justify;
}

 .img img{
    width: 100%;
    height: 380px;
    padding: 30px;
}


@media (max-width: 786px){
    .md h1{
        color: red;
    }
    .text p{
        font-size: 23px;
    }
    .img img{
        width: 100%;
        height: 340px;
    }
}


@media (max-width:480px){
    .md h1{
        color: green;
        font-size: 30px;

    }
    .md .text , .img{
              width: 100%;
    }

    .md .text{
        height: auto;
    }
    .text p{
        font-size: 18px;
    }
}